{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Investors</title>
        <link rel="stylesheet" href="{% static 'css\entrep_investors.css' %}">
    </head>
    <body>
        <ul>
            <li><a href="{% url 'entprofile' %}">My Campaign</a></li>
            <li><a href="{% url 'enttable' %}">Investors</a></li>
            <li><a href="{% url 'entlogout' %}">Logout</a></li>
        </ul>
        <br><br><br>
        <table>
            <tr>
                <th>User name</th>
                <th>Amount Invested</th>
            </tr>
            
            {% for i in investors %}
            <tr>
                <td>{{i.user_name}}</td>
                <td>{{i.invested_amt}}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>